/* p.colorMe {
    color: rgb(24, 24, 207);
    font-size: 20px;
}
h2.editName {
    color: rgb(27, 125, 125);
}
p.studying{
    color:blueviolet;
}
a[href = "index.html"] {
    font-size: 25px;
    background-color:rgb(53, 100, 7) ;
    color:white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;

}
div .Work {
    border:3px solid rgb(47, 78, 1);
    font-size: 25px;
} */

div {
    color : blueviolet;
    font-size:22px;
    border:6px solid black;
    margin: 20px;
    font-weight: bold;
}
p {
    border: inherit;
    margin: inherit;
    color:crimson
}